<style>



    .icon {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .icon {
        background-color: pink;
        transition: transform 0.3s ease;
    }

    .icon i {
        color: #fff !important;
    }


    .icon:hover {
        transform: scale(1.1);
    }
    
</style>